<style>
* {
    box-sizing: border-box;
    }
.body{
    background-color: lightgray;
}
.wrapper{
	padding-bottom: 60px;
}
.row::after {
    content: "";
    clear: both;
    display: block:
}
[class*="col-"] {
    float:left;
        padding: 15px;
}
html{
    font-family: "Akrobat", sans-serif;
}
.header{
    background-color: cadetblue;
    color:white;
    text-align:center;
    font-size: 25px;
    letter-spacing: 3px;
    padding: 150px;
    background-image: url(assets/barton-creek-greenbelt-1024x473.jpg);
    background-size:cover;
    background-repeat: no-repeat
    
}
.welcome {
	text-align: center;
    font-size: 25px;
    line-height: 2;
}
.menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.menu li{
    display:inline-table;
    text-align: center;
    padding:8px;
    margin-bottom: 7px;
    background-color: cadetblue;
    color: white;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color:steelblue;
}
.portrait {
    display: block;
    margin:auto;
    width: 75px;
    height: 75px;
    padding: 50px;
    background-image:url(assets/IMG_2522.JPG);
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.portrait:after{
  content: "";
  display: block;
  padding-bottom: 100%;
}
.footer {
    background-color: cadetblue;
    position: relative;
    margin-top: -60px;
    height: 60px;
    clear: both
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

    